body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
div {
  margin: 0;
  padding: 0;
}

.form {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 214, 214);
  width: 35%;
  height: auto;
  border-radius: 10px;
  padding: 1rem;
}

.heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: .4rem;

}

.email,
.password {
  display: grid;
  margin: .5rem 0;
}

label {
  font-size: .9rem;
  font-weight: 600;
}

input {
  padding: .5rem;
  border: 2px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: auto;
  font-size: .8rem;
}